* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  background-color: #efefef;
}

.Sticky {
  position: fixed;
  top: 0;
  height: 40px;
  background-color: #fff;
  box-shadow: 0 0 5px 2px grey;
  padding-top: 5px;
  color: #3d4451;
  z-index: 2;
}

header {
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 2;
  padding-top: 25px;
  transition: all 0.3s linear;
  color: #B7B7B7;
}

.logo {
  font-family: "arial black";
  font-size: 24px;
  padding-left: 10px;
  display: block;
  float: left;
}

.logo span:first-child {
  color: #E6686A;
  margin: 5px;
}

.logo span:last-child {
  color: #9A9DA2;
}

header nav {
  float: right;
  margin-right: 20px;
}

header nav li {
  float: left;
  font-size: 12px;
  margin-left: 15px;
  margin-right: 20px;
  padding-top: 13px;
  padding-bottom: 5px;
  font-family: sans-serif;
  font-weight: 700;
  position: relative;  
}

header nav li a:hover::after,
header nav li a.highLight::after{
  content: '';
  display: block;
  background: #E06567;
  position: absolute;
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0;
  animation: nav_ss 0.3s linear;
}

@keyframes nav_ss {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

[mark].down {
  transform: translateY(250px);
} 

[mark].up {
  animation: up 0.7s linear;
}

@keyframes up {
  0% {
    transform: translateY(250px);
  }
  20% {
    transform: translateY(250px);
  }
  100% {
    transform: translateY(0);
  }
}


header nav li a {
  color: inherit;
}

header nav .sub_menu {
  display: none;
  position: absolute;
  /* width: 80px; */
  white-space:nowrap; 
  background: #ffffff;
  left: -100%;
  top:110%;
  box-shadow: 0 0 1px 1px rgba(36, 32, 27,0.2);
  animation: sub_ss 0.3s linear;
}

@keyframes sub_ss {
  0% {
    margin-left: -100%
  }
  100% {
    margin-right: 0;
  }
}

header nav .sub_menu.active{
  display: block;
}

.mask {
  background-color: rgba(0, 0, 0, .5);
  width: 100%;
  height: 100%;
}

.banner {
  background: url(img/bg.jpg) center/cover no-repeat;
  height: 515px;
  width: 100%;
}

.card-box {
  width: 100%;
  margin-top: -360px;
}

.card {
  position: relative;
  margin: 0 auto;
  width: 940px;
  height: 520px;
  box-shadow: 2px 5px 10px #191412;
}

.card .content {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 50px;
  background-color: #ffffff;
}

.card .content img {
  float: left;
}

.card .content .info {
  float: left;
  margin-left: 150px;
}

.card .hello {
  padding: 5px 15px;
  width: 70px;
  font-size: 16px;
  color: #ffffff;
  background-color: #e8676b;
  position: relative;
}

.card .hello span {
  border: 10px solid transparent;
  border-left: 10px solid #e8676b;
  position: absolute;
  display: block;
  left: 10px;
  bottom: -10px;
}

.card .content h3 {
  margin-top: 30px;
  font-size: 24px;
}

.card .content p {
  margin-bottom: 30px;
}

.card table {
  margin-top: 30px;
}

.card th {
  text-align: left;
}

.card td {
  height: 20px;
  vertical-align: bottom;
  padding: 10px 10px 10px 40px;
  color: #B7B7B7;
}

.card .footer {
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 100%;
  background-color: #e8676b;
  text-align: center;
  /* line-height: 80px; */
  padding-top: 25px;
}

.footer a {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  vertical-align: middle;
  margin: 0 30px;
}

.footer a:hover {
  background: #d05c60;
}

.footer svg {
  width: 30px;
  height: 30px;
  fill: white;
  margin-top: 5px;
}


/* .test {
  width: 200px;
  height: 300px;
  border: 1px solid red;
} */

.download {
  margin: 50px 0;
  text-align: center;
}


.download a {
  border: 1px solid #cdcfd1;
  padding: 20px 50px;
  display: inline-block;
  color: #3d4451;
  font-weight: bold;
  transition: all 0.3s;
  line-height: 30px;
}

.download a:hover {
  box-shadow: 0px 0px 10px 0px rgba(120, 116, 120, 1);
}

.intro {
  width: 940px;
  margin: 30px auto;
  font-family: KaiTi;
  font-size: 20px;
  text-align: center;
  padding: 10px 50px;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.skills {
  width: 840px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0px 0px 5px 0px rgba(105, 105, 105, 1);
}

section h1 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 30px;
}

.skills {
  padding: 20px 50px;
}

.skills h3 {
  font-size: 18px;
  font-weight: 400;
}

.skills li {
  float: left;
  width: 45%;
  box-sizing: border-box;
  margin: 10px 20px;
}

.skills li>div {
  background-color: #fae1e1;
  height: 5px;
  width: 100%;
  border-radius: 3px;
  margin: 10px 0;
  overflow: hidden;
}

.skills li>div>span {
  display: block;
  background-color: #e6686a;
  height: 5px;
  border-radius: 5px;
  width: 40%;
  transition: all 1.5s linear;
}

.skills li>div>span.sksShow {
  transform: translateX(-300px)
}

.works {
  margin: 50px auto;
  max-width: 940px;
  text-align: center;
}

.works ol {
  padding: 20px 0 5px;
}

.works nav li{
  display: inline-block;
  padding: 0 15px;
}

.works nav li a {
  color: #3d4451;
}

.works .works-bar {
  width: 240px;
  height: 5px;
  background-color: #fff;
  border-radius: 5px;
  display: block;
  margin: 0 auto 30px;
  position: relative;
}

.works .works-bar .bar-inner {
  background-color: #e6686a;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  transition: all 0.6s;
}

.state1 {
  left:0;
  width: 50px;
}

.state2 {
  left:70px;
  width: 50px;
}

.state3 {
  left: 140px;
  width: 100px;
}

.imgs img {
  float: right;
}

.imgs img:nth-child(2){
  margin-bottom: 27px;
}

.imgs img:first-child {
  float: left;
  margin: 0;
}

#comment {
  width: 800px;
  margin: 0 auto;
}

#comment ul {
  border: 1px solid red;
}

#comment ul li {
  display: block;
}

#comment ul li span {
  display: inline-block;
  width: 200px;
}